@charset "utf-8";
/* CSS Document */

*{-webkit-transition:1.2s;transition:1.2s;}

.all{
	width:100%;
}

	header, .white, #container, .blur, footer, .author{
		min-width:820px;
		max-width:100%;
	}
	header{
		height:70px;
		box-shadow:0px 3px 3px -3px rgba(102,102,102,1);
	}
		#header{
			margin:auto;
			width:800px;
			height:70px;
			padding-top:20px;
		}
			.logo{
				width:200px;
				height:50px;
				float:left;
				background:url(../picture/logo.png) no-repeat;
			}
			.search{
				width:300px;
				height:50px;
				float:left;
			}
 			 nav{
				 width:300px;
				 height:auto;
				 float:right;
			}
			  .a, .t, .f{
				  width:30px;
				  height:30px;
				  cursor:pointer;
				  float:left;
				  margin-left:5px;
				  position:relative;
				  z-index:1;				  
			  }
			  .a{ background:#2b3d4f url(../picture/i.png); }
			  .t{ background:#2b3d4f url(../picture/twitter.png); }
			  .f{ background:#2b3d4f url(../picture/facebook.png); }
			  .b{
				width:150px;
				height:150px;
				margin-top:31px;
				background:#2b3d4f;
				display:none;
			  }
			  .b ul li{margin-left:-25px;}
			  
			
			
	.blur{ 
		height:200px;
		margin-top:2px;
		background:url(../picture/blur.jpg);
		background-size:100%;
		-webkit-transition:2s;
				transition:2s;
	}
	.blur:hover{background-position:0px -250px;}
	.white{
		height:40px;
		margin-top:2px;
		background:rgba(255,255,255,1);
	}
	#container{ margin:20px 0px;}
	.container{
		width:800px;
		min-height:1000px;
		max-height:100%;
		margin:auto;
		padding:10px;
		background:rgba(255,255,255,1);
		box-shadow:1px 1px 2px rgba(153,153,153,1);
	}
		.leftside{
			width:60%;
			float:left;
		}
			.top{
				min-height:20px;
				max-height:30px;
				background:#dbdde1;
				padding:5px;
			}
		.rightside{
			width:35%;
			float:right;
		}
			section{
				background:#f2f2f2;
				min-height:300px;
				max-height:100%;
			}
				.text{
					width:90%;
					height:45px;					
					padding:5px;
					margin:auto;
					position:relative;
					z-index:1;
					border-radius:5px;
					background:#FFF;					
					border:3px solid rgba(81,95,110,.5);
				}
				.text:hover{height:150px;}
				.text:before{
					content: "";
					width: 0px;
					height: 18px;
					display: block;
					position: relative;					
					top: -34px;
					left: 8px;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid rgba(81,95,110,.5);

				}
				#sea{ background:url(../picture/sea.jpg); background-size:100%;}
				#desert{ background:url(../picture/desert.jpg); background-size:100%;}
				#mountain{ background:url(../picture/mountain.jpg); background-size:100%;}
	body{
		margin:0px;
		padding:0px;
		color:#2b3d4f;
		background:url(../picture/bg.png);
		font-family:Arial, Helvetica, sans-serif;
	}
	footer{
		height:160px;
		padding-top:5px;
		background:#415464;
	}
		#footer{ width:800px;margin:auto; }
	.author{
		width:100%;
		height:15px;
		text-align:right;
		font-size:.7em;
		background:#253746;
	}
	.author a{ color:#FFF; }
	
		article{
			margin:10px 0px;
		}

h1, h2, h3, h4, h5, h6, p{margin:0px;padding:5px;}	
h1{ font-size:1.4em;}
p{text-align:justify;}
ul{ list-style-type:none;color:#FFF;float:left;}	
a:link{ text-decoration:none;color:#FFF; font-size:.8em }
a:hover{ text-decoration:underline;color:#FFF; }
a:active{ text-decoration:none;color:#FFF; }
a:visited{ text-decoration:none;color:#FFF; }

form{width:auto;margin-left:40px; color:#495866;}
input[type="search"]{border:1px solid #415464;padding-left:5px;width:80%;height:30px; float:left;}
input[type="button"]{width:30px;height:30px;border:1px solid #415464;height:30px; background:#a9b1b9 url(../picture/s.png);}

.mt10{margin-top:10px;}
.pr10{padding-right:10px;}
.none{}


@media only screen and (max-width:900px){
	.blur{max-height:100px;}
	.blur:hover{background-position:0px -100px;}
}