@charset "utf-8";
/* CSS Document */

*{}

.all{width:100%;height:auto;}

	header{
		width:100%;
		height:20px;
		padding:10px;
		background:#231f20;
		position:fixed;
		z-index:10;
	}
	header nav a:first-child{
		color:#f26531;
		float:left;
		margin:0px;
		padding:0px;
	}
	header nav a:first-child:hover{ padding:3px;border:1px solid #f26531 }
	.leftside{
		width:200px;
		height:100%;
		position:fixed;
		z-index:1;
		top:80px;
		left:10px;
		float:left;
	}
		.logo{
			height:80px;
			color:#231f20;
			font-size:4em;
			text-align:center;
			font-weight:bold;
			margin: 15px 0px;
			padding:0px;
			border-top:10px solid #231f20;
			border-bottom:10px solid #231f20;
		}
		.logo:hover{
			color:#FFF;
			-webkit-transition:.8s;
					transition:.8s;
		}
		nav{
			color:#231f20;
			font-weight:bold;
		}
		nav a{
			height:25px;
			padding:5px;
			display:block;
		}
		nav a:hover{
			color:#FFF;
			text-align:right;
			background:#231f20;
		}
		
	.rightside{
		width:800px;
		height:auto;
		float:right;
		margin: 80px 50px;
		position:relative;
		z-index:1;
	}
		.small-container{ height:400px;margin:100px 0px;padding-top:50px; }
			.title{
				width:30%;
				height:50px;
				float:left;
				background:#231f20;
				text-align:center;
			}
			.title:after{
				content:"";
				width: 0px;
				height: 0px;
				border: 0;
				border-right: solid 44px #231f20;
				border-bottom: solid 22px transparent;
				float: left;
				margin-top:2px;
			}
			section{
				width:65%;
				background:#231f20;
				color:#f25725;
				float:right;			
			}
				article{
					padding:10px;
				}

	body{
		margin:0px;
		padding:0px;
		color:#FFF;
		background:#f26531;
		font-family: 'Oswald', sans-serif;
	}
	.author{
		width:100%;
		height:20px;
		position:fixed;
		z-index:10;
		bottom:0px;
		text-align:right;
		font-size:.7em;
		background:#231f20;
	}
	.author a[target="_blank"]{ color:#f26531; }
	
	
	
h1{font-size:1.7em;margin:0px;padding:5px;}
p{}	

a:link{ text-decoration:none;color:#231f20; }
a:hover{ text-decoration:none;color:#FFF; }
a:active{ text-decoration:none;color:#231f20; }
a:visited{ text-decoration:none;color:#231f20; }

form{padding:30px;}
input{width:100%; height:30px;}
textarea{width:100%; height:70px; resize:none;}
code{
	color:#f26531;
	font-size:1em;
	float:right;
	margin-right:20px;
}
.submit{
	width:100px;
	padding:5px;
	color:#e17c1b;
	font-size:1em;
	border:1px solid rgba(122,63,15,1);
	background:#231f20;
}
.submit:hover{background:#f26531;color:#FFF;}

.pr10{padding-right:10px;}
.fr{float:right;}
.cool{
	color:#f26531;
	text-align:right;
	background:#231f20;
}
.none{
	background:none;
	text-align:left;
}